# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db_new.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
